:root {
  --primary-color: #7602a8;
  --accent-color: #b046dd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 1140px;
  margin: auto;
}

main {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

/* Header */
header {
  background-color: var(--primary-color);
  padding: 2rem 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3rem;
}

header a {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  padding: 0 1rem;
}

header ul a {
  padding: 0.4rem 0;
}

header ul a:hover {
  border-bottom: 0.3rem solid;
}

.search-form input {
  margin: 0;
  min-width: 40rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
}

/* Forms */
.form-content .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content .container > div {
  margin-top: 2rem;
  padding: 2rem;
  border: 0.1rem solid #c2c2c2;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  min-width: 50rem;
}

.form-content .container h1 {
  color: var(--primary-color);
}

.form-group {
  margin: 1.5rem 0 2rem;
}

label {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

input,
textarea {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  line-height: 1.5;
}

input:focus,
textarea:focus {
  outline-color: var(--primary-color);
}

textarea {
  min-height: 10rem;
  resize: none;
}

.form-buttons {
  margin-bottom: 1.5rem;
}

button {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

button[type="submit"] {
  background-color: var(--accent-color);
  color: #fff;
}

button[type="submit"]:hover {
  background-color: var(--primary-color);
}

.messages {
  margin-top: 1rem;
  list-style: none;
}

.messages .error {
  padding: 1rem 0.5rem;
  background-color: #ff5e5e;
  font-weight: bold;
  color: #fff;
}

/* Homepage */
.homepage-content .container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 2rem;
}

.homepage-content .poll {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 0.1rem solid var(--primary-color);
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.homepage-content .poll a {
  text-decoration: none;
}

.homepage-content .poll-header,
.homepage-content .poll-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage-content .poll hr {
  margin: 1.5rem 0;
}

.homepage-content .poll-body a {
  font-size: 2.2rem;
  font-weight: bold;
  color: initial;
}

.homepage-content .poll-body a:hover {
  color: var(--primary-color);
}

.homepage-content .poll-topic {
  padding: 1rem;
  background-color: #b046dd;
  border-radius: 2rem;
  font-weight: bold;
  color: #fff;
}

.homepage-content .polls-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.homepage-content .polls-title {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.homepage-content .poll-create {
  padding: 1.5rem 2rem;
  background-color: var(--accent-color);
  border-radius: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.homepage-content .poll-create:hover {
  background-color: var(--primary-color);
  font-weight: bold;
}

.homepage-content .polls-count {
  font-size: 1.8rem;
}

.homepage-content .no-polls {
  padding: 1rem;
  border: 0.1rem solid #c2c2c2;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

/* Voting Page */
.poll-content .poll {
  margin: auto;
  max-width: 60rem;
  padding: 1rem;
  border: 0.2rem solid #c2c2c2;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.poll-content .poll-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.poll-content .poll-header a {
  text-decoration: none;
}

.poll-content .poll-body {
  margin-top: 2rem;
  font-size: 3rem;
}

.poll-content .poll-body p {
  font-weight: bold;
}

.poll-content input {
  width: max-content;
}

.poll-content label {
  margin-left: 1rem;
  font-weight: normal;
  text-transform: none;
}

.form-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.form-button button {
  border-radius: 0.5rem;
}

/* Topics and Activities*/
.topics-body,
.activities-body {
  height: max-content;
  padding: 1rem;
  border: 0.1rem solid #c2c2c2;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.topics h2,
.activities h2 {
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.topics a,
.activities a {
  text-decoration: none;
}
.topics div {
  margin-bottom: 2rem;
}

.topics-list,
.activities-list {
  margin-top: 1.5rem;
  list-style: none;
}

.topics-list li,
.activities-list li {
  margin-block: 1.5rem;
}

.activities-list li {
  font-weight: bold;
  text-transform: uppercase;
}

li.no-activity,
li.not-logged-in {
  font-weight: normal;
  text-transform: none;
}

.topics-list li.active {
  font-size: 1.8rem;
  font-weight: bold;
}

.topics-list li.active a {
  color: var(--primary-color);
}

.topics-list a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: initial;
}

.activities-list a {
  font-weight: normal;
  text-transform: none;
  color: initial;
}

.topics-list a:hover,
.activities-list a:hover {
  font-weight: bold;
  color: var(--primary-color);
}

.topics-list a span,
.more-button {
  padding: 0.5rem 1.5rem;
  background-color: var(--accent-color);
  color: #fff;
}

a.login-link {
  font-weight: bold;
  color: var(--accent-color);
}

.login-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

/* Poll Page */
.action-buttons {
  margin-bottom: 1rem;
}

.back-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--accent-color);
  border-radius: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.back-button:hover {
  background-color: var(--primary-color);
  font-weight: bold;
}

/* Results Page */
.poll-results {
  margin-top: 1.5rem;
}

.poll-results span {
  font-weight: bold;
  color: var(--primary-color);
}

/* Create Poll Page */
.create-poll {
  width: 60rem;
  margin: auto;
  padding: 1rem;
  border: 0.1rem solid #c2c2c2;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.create-poll h1 {
  margin-block: 0.5rem;
  color: var(--primary-color);
}
