{% extends 'base.html' %}

{% block title %}| Recent Activities{% endblock title %}

{% block content %}
<main class="activities-content">
    <div class="container">
        <div class="activities">
            <h2>Recent Activities</h2>
            <div class="activities-body">
                <ul class="activities-list">
                    {% if request.user.is_authenticated %}
                        {% if voted_polls %}
                            {% for poll in voted_polls %}
                                <li>
                                    Poll:
                                    <a href="{% url 'poll' poll.question.id %}">{{poll.question.question_text}}</a>
                                </li>
                                <hr>
                            {% endfor %}
                        {% else %}
                            <li class="no-activity">No recent activity</li>
                        {% endif %}
                    {% else %}
                        <li class="not-logged-in">Please <a href="{% url 'login' %}" class="login-link">login</a> to view recent activities</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock content %}