{% extends 'base.html' %}

{% block title %}| Home{% endblock title %}

{% block content %}
    <main class="homepage-content">
        <div class="container">
            {% include 'components/topics.html' %}

            <div class="polls">
                <div class="polls-header">
                    <div>
                        <h1 class='polls-title'>Public Polls</h1>
                        {% if polls_count or polls_count is 0 %}
                            <p class='polls-count'>{{polls_count}} poll{{polls_count|pluralize}} available</p>
                        {% else %}
                            <p class='polls-count'>{{polls.count}} poll{{polls.count|pluralize}} avaliable</p>
                        {% endif %}
                    </div>
                    <a href="{% url 'create-poll' %}" class='poll-create'>Create Poll</a>
                </div>

                {% if polls or voted_polls %}
                    {% if voted_polls %}
                        {% if voted_polls.count is all_polls.count %}
                            <p class="no-polls">No new polls.</p>
                        {% else %}
                            {% include 'components/polls.html' %}
                        {% endif %}
                    {% else %}
                        {% include 'components/polls.html' %}
                    {% endif %}
                {% else %}
                    <p class="no-polls">No polls available.</p>
                {% endif %}
            </div>

            {% include 'components/activities.html' %}
        </div>
    </main>
{% endblock content %}