{% extends 'base.html' %}

{% block title %}| Home{% endblock title %}

{% block content %}
    <main class="homepage-content">
        <div class="container">
            <div class="topics">
                <h2>Browse Topics</h2>
                <div class="topics-body">
                    <ul class="topics-list">
                        <li {% if request.GET.q is None %}class="active"{% endif %}>
                            <a href="{% url 'home' %}">All <span>{{topics.count}}</span></a>
                        </li>
                        {% for topic in topics %}
                            <li {% if request.GET.q == topic.name %}class="active"{% endif %}>
                                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}} <span>{{topic.question_set.all.count}}</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div>
                        <a href="" class="more-button">More</a>
                    </div>
                </div>
            </div>

            <div class="polls">
                <div class="polls-header">
                    <div>
                        <h1 class='polls-title'>Public Polls</h1>
                        {% if polls_count or polls_count is 0 %}
                            <p class='polls-count'>{{polls_count}} poll{{polls_count|pluralize}} available</p>
                        {% else %}
                            <p class='polls-count'>{{polls.count}} poll{{polls.count|pluralize}} avaliable</p>
                        {% endif %}
                    </div>
                    <a href="" class='poll-create'>Create Poll</a>
                </div>

                {% if polls or voted_polls %}
                    {% if voted_polls %}
                        {% if voted_polls.count is all_polls.count %}
                            <p>No new polls.</p>
                        {% else %}
                            {% for poll in polls %}
                                <div class='poll'>
                                    <div class="poll-header">
                                        <a href="">@{{poll.creator}}</a>
                                        <p>{{poll.created|timesince}} ago</p>
                                    </div>
                                    <hr>
                                    <div class="poll-body">
                                        <p><a href="{% url 'poll' poll.id %}" class='poll-question'>{{poll.question_text}}</a></p>
                                    </div>
                                    <hr>
                                    <div class="poll-footer">
                                        <p>
                                            {{poll.total_votes}} vote{{poll.total_votes|pluralize}}
                                        </p>
                                        <p class='poll-topic'>{{poll.topic}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {% for poll in polls %}
                            <div class='poll'>
                                <div class="poll-header">
                                    <a href="">@{{poll.creator}}</a>
                                    <p>{{poll.created|timesince}} ago</p>
                                </div>
                                <hr>
                                <div class="poll-body">
                                    <p><a href="{% url 'poll' poll.id %}" class='poll-question'>{{poll.question_text}}</a></p>
                                </div>
                                <hr>
                                <div class="poll-footer">
                                    <p>
                                        {{poll.total_votes}} vote{{poll.total_votes|pluralize}}
                                    </p>
                                    <p class='poll-topic'>{{poll.topic}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <p>No polls available.</p>
                {% endif %}
            </div>

            <div class="activities"></div>
        </div>
    </main>
{% endblock content %}